

@font-face {
    font-family: "Aldrich";
    font-display: swap;
    src: url("../fonts/Aldrich-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "AlethiaNext";
    font-display: swap;
    src: url("../fonts/AlethiaNext-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    font-display: swap;
    src: url("../fonts/Inter_18pt-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    font-display: swap;
    src: url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    font-display: swap;
    src: url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    font-display: swap;
    src: url("../fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    font-display: swap;
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "MuseoModerno";
    font-display: swap;
    src: url("../fonts/MuseoModerno-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Orbitron";
    font-display: swap;
    src: url("../fonts/Orbitron-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Rajdhani";
    font-display: swap;
    src: url("../fonts/Rajdhani-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Rajdhani";
    font-display: swap;
    src: url("../fonts/Rajdhani-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Rajdhani";
    font-display: swap;
    src: url("../fonts/Rajdhani-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Rajdhani";
    font-display: swap;
    src: url("../fonts/Rajdhani-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Spartan";
    font-display: swap;
    src: url("../fonts/Spartan-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

