.explore {
  margin-top: 160px;
  margin-bottom: 50px;
}
.explore__container {
  max-width: 1388px;
}

.explore__slider {
  display: flex;
  flex-direction: column;
}

.explore__slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 47px;
}

.explore__slider-title {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  margin-left: 5px;
}

.swiper-button-next.explore__slider-btn-next {
  display: flex;
  gap: 25px;
  align-items: center;
  font-family: var(--font4);
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  margin-top: 0;
  position: static;
  width: auto;
  height: auto;
  padding-right: 10px;
}

.explore__slider-text {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 26px;
  color: #fff;
}

.swiper-button-next.explore__slider-btn-next svg {
  width: 43px;
  height: 27px;
  fill: #fff;
  stroke: #fff;
}
.explore__slider__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.swiper-slide.explore__slide {
  position: relative;
  width: 433px !important;
  height: 564px;
  border: 3px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-image-slice: 3;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.024) 100%
  );
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}
.explore__slide-bg {
  width: 100%;
  height: 206px;
}
.explore__slide-img {
  width: 163px;
  height: 163px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -103px);
}
.explore__slide__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore__slide__title {
  margin-top: 71px;
  font-weight: 500;
  font-size: 24px;
}
.explore__slide__link {
  padding-left: 17px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 6px;
  font-weight: 400;
  font-size: 20px;
  color: #ffb1ee;
}
.explore__slide__user-info {
  margin-top: 27px;
  display: flex;
  gap: 67px;
}
.explore__slide__user-info__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.explore__slide__user-info__number {
  font-weight: 600;
  font-size: 31px;
}
.explore__slide__user-info__text {
  font-weight: 500;
  font-size: 19px;
  opacity: 0.7;
}
.explore__slide__btn {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 40px;
}
.explore__slide__btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
  height: 50px;
  border: 3px solid;
  border-image-slice: 3;
  border-image-source: linear-gradient(
    90deg,
    rgb(60, 121, 212) 0%,
    rgb(255, 166, 250) 50%
  );
  background: linear-gradient(
    130deg,
    #ff56f6 18.31%,
    #b936ee 43.26%,
    #3bace2 85.44%,
    #406aff 100%
  );
  font-weight: 600;
  font-size: 19px;
  color: #fff;
}
.swiper-button-next.explore__slider-btn-next__mob {
  display: none;
}
@media screen and (max-width: 1439px) {
  .swiper-slide.explore__slide {
    max-width: 437px;
  }
}

@media screen and (max-width: 767px) {
  .explore {
    margin-top: 112px;
  }
  .explore__container {
    padding-left: 25px;
    padding-right: 0;
  }
  .explore__slider-header {
    margin-bottom: 30px;
  }
  .explore__slider-title {
    font-size: 18px;
    margin-left: 0;
  }
  .swiper-slide.explore__slide {
    width: 298px !important;
    height: 388px;
  }
  .explore__slide-bg {
    height: 143px;
  }
  .explore__slide-img {
    width: 113px;
    height: 113px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -73px);
  }
  .explore__slide__title {
    margin-top: 47px;
    font-size: 16px;
  }
  .explore__slide__link {
    padding-left: 10px;
    gap: 5px;
    margin-top: 4px;
    font-size: 13px;
  }
  .explore__slide__link-icon {
    width: 10px;
    height: 11px;
  }
  .explore__slide__user-info {
    margin-top: 20px;
    gap: 48px;
  }
  .explore__slide__user-info__number {
    font-size: 21px;
  }
  .explore__slide__user-info__text {
    font-size: 13px;
  }
  .explore__slide__btn {
    margin-top: 27px;
  }
  .explore__slide__btn-link {
    width: 162px;
    height: 35px;
    font-size: 13px;
  }
  .explore__parent-block {
    padding-right: 20px;
    display: flex;
    justify-content: center;
  }
  .swiper-button-next.explore__slider-btn-next {
    display: none;
  }
  .swiper-button-next.explore__slider-btn-next__mob {
    width: 130px;
    height: 35px;
    clip-path: polygon(
      17.634% 1.639%,
      17.634% 1.639%,
      17.576% 1.644%,
      17.518% 1.659%,
      17.46% 1.683%,
      17.403% 1.717%,
      17.346% 1.76%,
      17.29% 1.812%,
      17.235% 1.874%,
      17.18% 1.945%,
      17.126% 2.025%,
      17.073% 2.114%,
      1.186% 30.376%,
      1.186% 30.376%,
      1.054% 30.647%,
      0.932% 30.968%,
      0.822% 31.336%,
      0.725% 31.745%,
      0.64% 32.191%,
      0.569% 32.67%,
      0.512% 33.177%,
      0.471% 33.708%,
      0.445% 34.257%,
      0.437% 34.822%,
      0.437% 95.082%,
      0.437% 95.082%,
      0.454% 95.88%,
      0.504% 96.637%,
      0.583% 97.342%,
      0.69% 97.987%,
      0.821% 98.56%,
      0.973% 99.051%,
      1.145% 99.451%,
      1.333% 99.749%,
      1.534% 99.936%,
      1.747% 100%,
      85.752% 100%,
      85.752% 100%,
      85.812% 99.995%,
      85.871% 99.98%,
      85.93% 99.954%,
      85.989% 99.919%,
      86.047% 99.874%,
      86.105% 99.818%,
      86.162% 99.753%,
      86.218% 99.679%,
      86.274% 99.595%,
      86.328% 99.501%,
      99.265% 75.774%,
      99.265% 75.774%,
      99.395% 75.501%,
      99.514% 75.178%,
      99.622% 74.811%,
      99.718% 74.404%,
      99.801% 73.96%,
      99.871% 73.485%,
      99.926% 72.983%,
      99.967% 72.458%,
      99.992% 71.914%,
      100% 71.356%,
      100% 6.557%,
      100% 6.557%,
      99.983% 5.76%,
      99.933% 5.003%,
      99.854% 4.297%,
      99.747% 3.653%,
      99.616% 3.08%,
      99.464% 2.588%,
      99.292% 2.188%,
      99.104% 1.89%,
      98.903% 1.704%,
      98.69% 1.639%,
      17.634% 1.639%
    );
    padding: 2px;
    transform-box: fill-box;
    transform-origin: 0 0;
    background: linear-gradient(130deg, #ffa6fa 0%, #3c79d4 100%);
    border-radius: 4px;
    position: relative;
    margin-top: 39px;
    display: flex;
  }
  .explore__slider-text__mob {
    display: flex;
    align-items: center;
    font-family: var(--font4);
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    gap: 10px;
    background: rgb(32, 8, 59);
    clip-path: polygon(
      17.634% 1.639%,
      17.634% 1.639%,
      17.576% 1.644%,
      17.518% 1.659%,
      17.46% 1.683%,
      17.403% 1.717%,
      17.346% 1.76%,
      17.29% 1.812%,
      17.235% 1.874%,
      17.18% 1.945%,
      17.126% 2.025%,
      17.073% 2.114%,
      1.186% 30.376%,
      1.186% 30.376%,
      1.054% 30.647%,
      0.932% 30.968%,
      0.822% 31.336%,
      0.725% 31.745%,
      0.64% 32.191%,
      0.569% 32.67%,
      0.512% 33.177%,
      0.471% 33.708%,
      0.445% 34.257%,
      0.437% 34.822%,
      0.437% 95.082%,
      0.437% 95.082%,
      0.454% 95.88%,
      0.504% 96.637%,
      0.583% 97.342%,
      0.69% 97.987%,
      0.821% 98.56%,
      0.973% 99.051%,
      1.145% 99.451%,
      1.333% 99.749%,
      1.534% 99.936%,
      1.747% 100%,
      85.752% 100%,
      85.752% 100%,
      85.812% 99.995%,
      85.871% 99.98%,
      85.93% 99.954%,
      85.989% 99.919%,
      86.047% 99.874%,
      86.105% 99.818%,
      86.162% 99.753%,
      86.218% 99.679%,
      86.274% 99.595%,
      86.328% 99.501%,
      99.265% 75.774%,
      99.265% 75.774%,
      99.395% 75.501%,
      99.514% 75.178%,
      99.622% 74.811%,
      99.718% 74.404%,
      99.801% 73.96%,
      99.871% 73.485%,
      99.926% 72.983%,
      99.967% 72.458%,
      99.992% 71.914%,
      100% 71.356%,
      100% 6.557%,
      100% 6.557%,
      99.983% 5.76%,
      99.933% 5.003%,
      99.854% 4.297%,
      99.747% 3.653%,
      99.616% 3.08%,
      99.464% 2.588%,
      99.292% 2.188%,
      99.104% 1.89%,
      98.903% 1.704%,
      98.69% 1.639%,
      17.634% 1.639%
    );
    padding: 12px 12px 9px 25px;
  }
  .swiper-button-next svg {
    width: 27px;
    height: 8px;
    fill: #fff;
    stroke: #fff;
  }
}
