// .page-header {
  
// }
.logo {
    color: aqua;
}

.page-nav__link-1{
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
    color: rgb(111, 114, 116);
}
.page-nav__link-2{
    font-family: var(--second-family);
    font-size: 20px;
    color: rgb(218, 174, 196);
}
.page-nav__link-3{
    font-family: var(--third-family);
    font-size: 20px;
    color: rgb(106, 147, 122);
}
.page-nav__link-4{
    font-family: var(--font4);
    font-size: 20px;
    color: rgb(51, 204, 82);
}
.page-nav__link-5{
    font-family: var(--font5);
    font-size: 20px;
    color: rgb(229, 194, 194);
}
.page-nav__link-6{
    font-family: var(--font6);
    font-size: 20px;
    color: rgb(171, 168, 164);
}
.page-nav__link-7{
    font-family: var(--font7);
    font-size: 20px;
    color: rgb(255, 196, 204);
}
.page-nav__link-8{
    font-family: var(--font8);
    font-size: 20px;
    color: rgb(218, 196, 255);
}
.page-nav__link-9{
    font-family: var(--font9);
    font-size: 20px;
    color: rgb(196, 255, 231);
}