.hero {
  margin-top: 195px;
  margin-bottom: 100px;
}
.hero__container {
  position: relative;
  display: grid;
  grid-template-columns: 770px 1fr;
  grid-template-rows: auto auto;
}

.hero__text-wrapper {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
}
.hero__main-title {
  font-family: var(--font8);
  font-weight: 600;
  font-size: 66px;
  line-height: 91px;
  color: #fff;
  margin-bottom: 21px;
  max-width: 770px;
  padding-right: 10px;
}
.hero_main-title_span {
  background: linear-gradient(312deg, #43a5e3 0%, #ff56f6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__text {
  font-weight: 400;
  font-size: 26px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 40px;
  max-width: 620px;
}
.hero__btn-box {
  display: flex;
  align-items: center;
  gap: 34px;
  margin-bottom: 64px;
}

.hero__btn-explore {
  width: 253px;
  padding: 2px;
  clip-path: polygon(
    17.634% 1.639%,
    17.634% 1.639%,
    17.576% 1.644%,
    17.518% 1.659%,
    17.46% 1.683%,
    17.403% 1.716%,
    17.346% 1.759%,
    17.29% 1.812%,
    17.235% 1.873%,
    17.18% 1.944%,
    17.126% 2.024%,
    17.073% 2.113%,
    1.186% 30.376%,
    1.186% 30.376%,
    1.054% 30.647%,
    0.932% 30.968%,
    0.822% 31.336%,
    0.724% 31.745%,
    0.64% 32.191%,
    0.569% 32.67%,
    0.512% 33.176%,
    0.471% 33.707%,
    0.445% 34.256%,
    0.437% 34.821%,
    0.437% 95.082%,
    0.437% 95.082%,
    0.454% 95.88%,
    0.503% 96.636%,
    0.583% 97.342%,
    0.689% 97.986%,
    0.82% 98.559%,
    0.973% 99.051%,
    1.145% 99.451%,
    1.333% 99.749%,
    1.534% 99.936%,
    1.747% 100%,
    85.752% 100%,
    85.752% 100%,
    85.812% 99.995%,
    85.871% 99.98%,
    85.93% 99.954%,
    85.989% 99.919%,
    86.047% 99.874%,
    86.105% 99.819%,
    86.162% 99.754%,
    86.218% 99.68%,
    86.273% 99.596%,
    86.327% 99.502%,
    99.265% 75.776%,
    99.265% 75.776%,
    99.395% 75.503%,
    99.514% 75.18%,
    99.622% 74.813%,
    99.718% 74.405%,
    99.801% 73.962%,
    99.871% 73.487%,
    99.926% 72.985%,
    99.967% 72.459%,
    99.992% 71.915%,
    100% 71.357%,
    100% 6.557%,
    100% 6.557%,
    99.983% 5.76%,
    99.933% 5.003%,
    99.854% 4.297%,
    99.747% 3.653%,
    99.616% 3.08%,
    99.464% 2.588%,
    99.292% 2.188%,
    99.104% 1.89%,
    98.903% 1.704%,
    98.69% 1.639%,
    17.634% 1.639%
  );
  transform-box: fill-box;
  transform-origin: 0 0;
  background: linear-gradient(130deg, #ffa6fa 0%, #3c79d4 100%);
  border-radius: 4px;
}

.hero__btn-explore__link {
  display: flex;
  align-items: center;
  gap: 11px;
  font-family: var(--font4);
  font-weight: 700;
  font-size: 19px;
  color: #ffffff;
  padding: 20px 32px 21px 67px;
  background: linear-gradient(
    310deg,
    #ff56f6 18.31%,
    #b936ee 43.26%,
    #3bace2 85.44%,
    #406aff 100%
  );
  clip-path: polygon(
    17.634% 1.639%,
    17.634% 1.639%,
    17.576% 1.644%,
    17.518% 1.659%,
    17.46% 1.683%,
    17.403% 1.716%,
    17.346% 1.759%,
    17.29% 1.812%,
    17.235% 1.873%,
    17.18% 1.944%,
    17.126% 2.024%,
    17.073% 2.113%,
    1.186% 30.376%,
    1.186% 30.376%,
    1.054% 30.647%,
    0.932% 30.968%,
    0.822% 31.336%,
    0.724% 31.745%,
    0.64% 32.191%,
    0.569% 32.67%,
    0.512% 33.176%,
    0.471% 33.707%,
    0.445% 34.256%,
    0.437% 34.821%,
    0.437% 95.082%,
    0.437% 95.082%,
    0.454% 95.88%,
    0.503% 96.636%,
    0.583% 97.342%,
    0.689% 97.986%,
    0.82% 98.559%,
    0.973% 99.051%,
    1.145% 99.451%,
    1.333% 99.749%,
    1.534% 99.936%,
    1.747% 100%,
    85.752% 100%,
    85.752% 100%,
    85.812% 99.995%,
    85.871% 99.98%,
    85.93% 99.954%,
    85.989% 99.919%,
    86.047% 99.874%,
    86.105% 99.819%,
    86.162% 99.754%,
    86.218% 99.68%,
    86.273% 99.596%,
    86.327% 99.502%,
    99.265% 75.776%,
    99.265% 75.776%,
    99.395% 75.503%,
    99.514% 75.18%,
    99.622% 74.813%,
    99.718% 74.405%,
    99.801% 73.962%,
    99.871% 73.487%,
    99.926% 72.985%,
    99.967% 72.459%,
    99.992% 71.915%,
    100% 71.357%,
    100% 6.557%,
    100% 6.557%,
    99.983% 5.76%,
    99.933% 5.003%,
    99.854% 4.297%,
    99.747% 3.653%,
    99.616% 3.08%,
    99.464% 2.588%,
    99.292% 2.188%,
    99.104% 1.89%,
    98.903% 1.704%,
    98.69% 1.639%,
    17.634% 1.639%
  );
}
.btn-explore__icon {
  width: 51px;
  height: 15px;
  fill: #fff;
  stroke: #fff;
}

.hero__btn-create__link {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 19px;
  background: linear-gradient(86deg, #42a6e3 0%, #ff56f6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__benefits {
  display: flex;
  gap: 63px;
}
.hero__benefits__numbers {
  font-family: var(--font5);
  font-weight: 400;
  font-size: 39px;
  line-height: 53px;
  letter-spacing: 0.01em;
  color: #fff;
}
.hero__benefits__text {
  font-family: var(--font7);
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #fff;
}
.hero__benefits__item__center {
  position: relative;
}
.hero__benefits__item__center::after {
  position: absolute;
  content: "";
  display: block;
  width: 1.11px;
  right: -20px;
  top: 7px;
  height: 63px;
  background: rgba(255, 255, 255, 0.26);
}
.hero__benefits__item__center::before {
  position: absolute;
  content: "";
  display: block;
  width: 1.11px;
  left: -45px;
  top: 7px;
  height: 63px;
  background: rgba(255, 255, 255, 0.26);
}
.hero__vector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(30px, -43px);
}
.hero__vector__icon {
  width: 120px;
  height: 25px;
}
.auction-box {
  width: 490px;
  height: 477px;
  grid-column: 2;
  grid-row: 1;
  position: relative;
  margin-top: 15px;
  margin-left: auto;
}
.hero-img-mob {
  display: none;
}
.hero-img,
.hero-img-mob {
  position: relative;
  width: 401px;
  height: 477px;
  clip-path: polygon(
    0% 96.159%,
    0% 15.171%,
    0% 15.171%,
    0.021% 14.807%,
    0.084% 14.45%,
    0.188% 14.102%,
    0.33% 13.766%,
    0.509% 13.443%,
    0.725% 13.136%,
    0.975% 12.848%,
    1.259% 12.58%,
    1.574% 12.335%,
    1.919% 12.115%,
    21.901% 0.644%,
    21.901% 0.644%,
    22.124% 0.524%,
    22.355% 0.416%,
    22.592% 0.32%,
    22.835% 0.236%,
    23.083% 0.165%,
    23.337% 0.106%,
    23.594% 0.06%,
    23.854% 0.027%,
    24.117% 0.007%,
    24.382% 0%,
    95.421% 0%,
    95.421% 0%,
    96.135% 0.048%,
    96.812% 0.189%,
    97.443% 0.413%,
    98.02% 0.714%,
    98.533% 1.084%,
    98.972% 1.515%,
    99.33% 2%,
    99.597% 2.531%,
    99.764% 3.1%,
    99.821% 3.7%,
    99.821% 87.348%,
    99.821% 87.348%,
    99.802% 87.697%,
    99.744% 88.04%,
    99.648% 88.375%,
    99.517% 88.7%,
    99.351% 89.013%,
    99.151% 89.311%,
    98.918% 89.593%,
    98.655% 89.857%,
    98.361% 90.101%,
    98.039% 90.322%,
    83.885% 99.133%,
    83.885% 99.133%,
    83.653% 99.268%,
    83.412% 99.39%,
    83.164% 99.498%,
    82.908% 99.592%,
    82.645% 99.673%,
    82.378% 99.739%,
    82.105% 99.791%,
    81.829% 99.829%,
    81.549% 99.851%,
    81.267% 99.859%,
    4.4% 99.859%,
    4.4% 99.859%,
    3.686% 99.811%,
    3.009% 99.67%,
    2.378% 99.446%,
    1.801% 99.145%,
    1.289% 98.775%,
    0.849% 98.344%,
    0.491% 97.859%,
    0.224% 97.328%,
    0.058% 96.759%,
    0% 96.159%
  );
}

.auction-box__wrapper {
  position: absolute;
  bottom: -65px;
  left: 152px;
  clip-path: polygon(
    14.785% 0.614%,
    97.69% 0.614%,
    97.69% 0.614%,
    98.065% 0.67%,
    98.42% 0.832%,
    98.752% 1.093%,
    99.054% 1.442%,
    99.323% 1.871%,
    99.554% 2.372%,
    99.742% 2.934%,
    99.882% 3.551%,
    99.97% 4.211%,
    100% 4.908%,
    100% 95.706%,
    100% 95.706%,
    99.97% 96.402%,
    99.882% 97.063%,
    99.742% 97.679%,
    99.554% 98.242%,
    99.323% 98.742%,
    99.054% 99.172%,
    98.752% 99.521%,
    98.42% 99.781%,
    98.065% 99.944%,
    97.69% 100%,
    2.64% 100%,
    2.64% 100%,
    2.266% 99.944%,
    1.91% 99.781%,
    1.579% 99.521%,
    1.276% 99.172%,
    1.007% 98.742%,
    0.776% 98.242%,
    0.588% 97.679%,
    0.448% 97.063%,
    0.36% 96.402%,
    0.33% 95.706%,
    0.33% 27.348%,
    0.33% 27.348%,
    0.337% 27.006%,
    0.359% 26.669%,
    0.395% 26.338%,
    0.444% 26.014%,
    0.507% 25.698%,
    0.583% 25.393%,
    0.672% 25.099%,
    0.773% 24.818%,
    0.887% 24.552%,
    1.012% 24.302%,
    13.157% 1.862%,
    13.157% 1.862%,
    13.291% 1.633%,
    13.434% 1.425%,
    13.584% 1.24%,
    13.741% 1.077%,
    13.905% 0.938%,
    14.073% 0.823%,
    14.246% 0.732%,
    14.423% 0.667%,
    14.603% 0.627%,
    14.785% 0.614%
  );
  padding: 2px;
  background: rgba(255, 255, 255, 0.281);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.auction-box__text-wrapper {
  width: 310px;
  height: 154px;
  padding: 25px 0 0 23px;
  clip-path: polygon(
    14.785% 0.614%,
    97.69% 0.614%,
    97.69% 0.614%,
    98.065% 0.67%,
    98.42% 0.832%,
    98.752% 1.093%,
    99.054% 1.442%,
    99.323% 1.871%,
    99.554% 2.372%,
    99.742% 2.934%,
    99.882% 3.551%,
    99.97% 4.211%,
    100% 4.908%,
    100% 95.706%,
    100% 95.706%,
    99.97% 96.402%,
    99.882% 97.063%,
    99.742% 97.679%,
    99.554% 98.242%,
    99.323% 98.742%,
    99.054% 99.172%,
    98.752% 99.521%,
    98.42% 99.781%,
    98.065% 99.944%,
    97.69% 100%,
    2.64% 100%,
    2.64% 100%,
    2.266% 99.944%,
    1.91% 99.781%,
    1.579% 99.521%,
    1.276% 99.172%,
    1.007% 98.742%,
    0.776% 98.242%,
    0.588% 97.679%,
    0.448% 97.063%,
    0.36% 96.402%,
    0.33% 95.706%,
    0.33% 27.348%,
    0.33% 27.348%,
    0.337% 27.006%,
    0.359% 26.669%,
    0.395% 26.338%,
    0.444% 26.014%,
    0.507% 25.698%,
    0.583% 25.393%,
    0.672% 25.099%,
    0.773% 24.818%,
    0.887% 24.552%,
    1.012% 24.302%,
    13.157% 1.862%,
    13.157% 1.862%,
    13.291% 1.633%,
    13.434% 1.425%,
    13.584% 1.24%,
    13.741% 1.077%,
    13.905% 0.938%,
    14.073% 0.823%,
    14.246% 0.732%,
    14.423% 0.667%,
    14.603% 0.627%,
    14.785% 0.614%
  );
  background: rgba(32, 8, 59, 0.7);
  display: flex;
  gap: 48px;
}

.auction-box__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 35px;
  margin-bottom: 2px;
}
.auction-box__user-bloc {
  display: flex;
  gap: 3px;
  margin-bottom: 21px;
  align-items: center;
}
.auction-box__user-img {
  width: 29px;
  height: 29px;
}
.auction-box__user-name {
  font-weight: 600;
  font-size: 15px;
  line-height: 35px;
}
.auction-box__user-check {
  width: 12px;
  height: 13px;
}
.auction-box__text-price {
  font-weight: 600;
  font-size: 11px;
  color: #fff;
  opacity: 0.7;
}
.auction-box__price {
  position: relative;
  display: flex;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 17px;
  align-items: center;
  font-family: var(--font4);
  font-weight: 700;
  font-size: 9px;
}
.auction-box__price-icon {
  position: absolute;
  left: -5px;
  width: 18px;
  height: 20px;
  fill: #fff;
}
.auction-box__price-span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 35px;
  opacity: 0.7;
}

.auction-time__text {
  font-weight: 600;
  font-size: 11px;
  opacity: 0.7;
  padding-top: 10px;
  margin-left: 10px;
}
.auction-time__list {
  display: flex;
  gap: 20px;
  margin-bottom: 27px;
  margin-left: 7px;
}

.auction-time__number {
  font-weight: 600;
  font-size: 17px;
  padding-top: 5px;
}
.auction-time__text-time {
  font-weight: 500;
  font-size: 11px;
  opacity: 0.7;
}
.auction-box__btn {
  border-radius: 5px;
  padding: 2px;
  background: linear-gradient(270deg, #ffa6fa 0%, #3c79d4 100%);
}

.auction-box__btn__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 17px;
  color: #fff;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  // padding: 9px 0px 6px 9px;
  background: linear-gradient(
    90deg,
    #ff56f6 18.31%,
    #b936ee 43.26%,
    #3bace2 85.44%,
    #406aff 100%
  );
}
.auction-box__btn__icon {
  width: 24px;
  height: 9px;
  fill: #fff;
  stroke: #fff;
}
.our-partners {
  width: 100%;
  grid-column: 1/3;
  grid-row: 2;
  margin-top: 120px;
}
.our-partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7px;
}
.logo-1 {
  width: 265px;
  height: 53px;
}
.logo-2 {
  width: 170px;
  height: 53px;
  padding-top: 5px;
}
.logo-3 {
  width: 349px;
  height: 53px;
}
.logo-4 {
  width: 196px;
  height: 31px;
  padding-top: 15px;
  margin-right: 5px;
}

@media screen and (max-width: 1439px) {
  .hero__container {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 1284px) {
  .hero__main-title {
    font-size: 56px;
    line-height: normal;
  }
  .auction-box {
    width: 401px;
  }
  .auction-box__wrapper {
    left: 60px;
  }
}
@media screen and (max-width: 1110px) {
  .hero {
    margin-top: 120px;
  }
  .hero__btn-explore {
    width: 150px;
  }
  .hero__btn-explore__link {
    padding: 10px 5px 10px 10px;
  }

  .hero__main-title {
    font-size: 48px;
  }
  .auction-box {
    width: 324px;
    height: 385px;
  }

  .hero-img {
    width: 324px;
    height: 385px;
  }
  .auction-box__wrapper {
    left: 0;
  }
  .auction-box__text-wrapper {
    width: 300px;
  }
  .our-partners__icon {
    width: 80%;
  }
  .logo-4 {
    padding-top: 0;
  }
  .hero__benefits__numbers {
    font-size: 30px;
  }
  .our-partners {
    margin-top: 90px;
  }
}
@media screen and (max-width: 992px) {
  .hero__text {
    margin-bottom: 20px;
  }
  .hero__btn-box {
    gap: 20px;
    margin-bottom: 10px;
  }
  .hero__benefits {
    gap: 30px;
  }
  .hero__benefits__item__center::before {
    left: -15px;
  }
}
@media screen and (max-width: 960px) {
  .our-partners {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    margin-top: 104px;
  }

  .hero__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .hero__vector {
    display: none;
  }
  .hero__text-wrapper {
    grid-column: 1;
    grid-row: 1;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__main-title {
    font-family: var(--font6);
    font-weight: 700;
    font-size: 42px;
    line-height: 58px;
    margin-bottom: 28px;
  }
  .hero__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 29px;
  }
  .hero__btn-box {
    gap: 20px;
    margin-bottom: 35px;
  }
  .hero__btn-explore {
    width: 135px;
  }
  .hero__btn-explore__link {
    font-size: 12px;
    padding: 9px 17px 12px 28px;
  }
  .btn-explore__icon {
    width: 28px;
    height: 8px;
  }
  .hero__btn-create__link {
    font-size: 12px;
  }
  .hero__benefits {
    gap: 66px;
  }
  .hero__benefits__numbers {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 4px;
  }
  .hero__benefits__text {
    font-family: var(--font6);
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.6);
  }
  .hero__benefits__item__center::after,
  .hero__benefits__item__center::before {
    display: none;
  }
  .hero-img {
    display: none;
  }
  .hero-img-mob {
    display: block;
    width: 324px;
    height: 385px;
  }
  .our-partners {
    margin-top: 37px;
    grid-column: 1;
    grid-row: 2;
  }
  .logo-1 {
    width: 143px;
    height: 29px;
    grid-column: 1;
    grid-row: 1;
    margin-left: 15px;
  }
  .logo-2 {
    width: 92px;
    height: 29px;
    grid-column: 2;
    grid-row: 1;
    margin-left: 25px;
  }
  .logo-3 {
    width: 188px;
    height: 29px;
    grid-column: 1;
    grid-row: 2;
    margin-left: 5px;
  }
  .logo-4 {
    width: 106px;
    height: 16px;
    grid-column: 2;
    grid-row: 2;
    margin-left: 28px;
  }
  .auction-box {
    grid-column: 1;
    grid-row: 3;
    width: 324px;
    height: 385px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-img {
    width: 324px;
    height: 385px;
    clip-path: polygon(
      0% 98.549%,
      0% 13.899%,
      0% 13.899%,
      0.007% 13.771%,
      0.03% 13.646%,
      0.066% 13.525%,
      0.116% 13.407%,
      0.179% 13.294%,
      0.254% 13.187%,
      0.342% 13.086%,
      0.441% 12.992%,
      0.552% 12.906%,
      0.673% 12.829%,
      22.671% 0.225%,
      22.671% 0.225%,
      22.749% 0.183%,
      22.83% 0.146%,
      22.913% 0.112%,
      22.998% 0.083%,
      23.085% 0.058%,
      23.174% 0.037%,
      23.264% 0.021%,
      23.356% 0.009%,
      23.448% 0.002%,
      23.541% 0%,
      98.457% 0%,
      98.457% 0%,
      98.707% 0.017%,
      98.945% 0.066%,
      99.166% 0.145%,
      99.368% 0.25%,
      99.548% 0.379%,
      99.702% 0.53%,
      99.828% 0.7%,
      99.921% 0.886%,
      99.98% 1.085%,
      100% 1.295%,
      100% 88.546%,
      100% 88.546%,
      99.993% 88.669%,
      99.973% 88.789%,
      99.939% 88.906%,
      99.893% 89.02%,
      99.835% 89.129%,
      99.765% 89.234%,
      99.683% 89.333%,
      99.591% 89.425%,
      99.488% 89.51%,
      99.375% 89.588%,
      83.276% 99.59%,
      83.276% 99.59%,
      83.194% 99.637%,
      83.11% 99.68%,
      83.023% 99.718%,
      82.933% 99.751%,
      82.841% 99.779%,
      82.747% 99.802%,
      82.651% 99.821%,
      82.554% 99.834%,
      82.456% 99.842%,
      82.357% 99.844%,
      1.543% 99.844%,
      1.543% 99.844%,
      1.293% 99.827%,
      1.055% 99.778%,
      0.834% 99.7%,
      0.632% 99.594%,
      0.452% 99.465%,
      0.298% 99.314%,
      0.172% 99.144%,
      0.079% 98.958%,
      0.02% 98.759%,
      0% 98.549%
    );
  }
  .auction-box__wrapper {
    bottom: -130px;
  }
  .auction-box__text-wrapper {
    width: 300px;
    height: 146px;
    padding: 25px 0 0 22px;
    gap: 42px;
  }
  .auction-box__title {
    margin-top: 16px;
    margin-bottom: 15px;
    line-height: 0;
  }
  .auction-box__user-bloc {
    margin-bottom: 16px;
  }
  .auction-box__user-img {
    width: 28px;
    height: 28px;
  }
  .auction-box__price {
    gap: 5px;
    padding-left: 16px;
  }
  .auction-time__text {
    margin-left: 8px;
  }
  .auction-time__list {
    gap: 18px;
    margin-left: 8px;
    margin-bottom: 24px;
  }
  .auction-time__number {
    padding-top: 3px;
  }
  // .auction-box__btn {
  //   width: 120px;
  // }
  .auction-box__btn__link {
    width: 115px;
    height: 36px;
    gap: 10px;
    // padding: 8px 0px 6px 9px;
  }
}
@media screen and (max-width: 630px) {
  .our-partners__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0;
    row-gap: 25px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 460px) {
  .hero__text-wrapper {
    width: calc(100% - 30px);
    margin-left: 15px;
  }
  .our-partners__list {
    width: calc(100% - 30px);
    margin-left: 0;
  }
}
