.hero {
  margin-top: 195px;
  margin-bottom: 100px;
}
.hero__container {
  display: flex;
  gap: 55px;
}

.hero__text-wrapper {
  display: flex;
  flex-direction: column;
}
.hero__main-title {
  font-family: var(--font8);
  font-weight: 600;
  font-size: 66px;
  line-height: 91px;
  color: #fff;
  margin-bottom: 21px;
  width: 840px;
}
.hero_main-title_span {
  background: linear-gradient(312deg, #43a5e3 0%, #ff56f6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__text {
  // font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 43px;
  width: 650px;
}
.hero__btn-box {
  display: flex;
  gap: 38px;
  margin-bottom: 69px;
}
// .btn-explore {
//   width: 255px; /* або що потрібно */
//   height: 69px; /* або що потрібно */
//   background: linear-gradient(
//     130deg,
//     #ff56f6 18.31%,
//     #b936ee 43.26%,
//     #3bace2 85.44%,
//     #406aff 100%
//   );
//   clip-path: path(
//     d=
//       "M44.869 1.30469C44.3779 1.30471 43.8928 1.41374 43.449 1.62402L3.23126 20.6826C2.07332 21.2313 1.33482 22.3983 1.33478 23.6797V64.3154C1.33478 66.147 2.81969 67.6317 4.65118 67.6318H217.311C217.816 67.6318 218.313 67.5172 218.766 67.2959L251.519 51.2969C252.658 50.7407 253.38 49.5843 253.38 48.3174V4.62109C253.38 2.78951 251.895 1.30469 250.063 1.30469H44.869Z"
//   );
// }

// .btn-explore {
//   margin-left: -6px;
//   margin-top: 270px;
//   width: 255px;
//   height: 68px;
//   position: relative;
//   clip-path: polygon(
//     40px 0,
//     100% 0,
//     100% calc(100% - 20px),
//     calc(100% - 40px) 100%,
//     0 100%,
//     0 20px
//   );
//   border-radius: 5px;
//   z-index: 2;
//   transition: transform 0.3s ease, box-shadow 0.3s ease;
// }

// .btn-explore::after {
//   content: "";
//   position: absolute;
//   inset: 2px;
//   background: linear-gradient(
//     310deg,
//     #ff56f6 18.31%,
//     #b936ee 43.26%,
//     #3bace2 85.44%,
//     #406aff 100%
//   );
//   clip-path: polygon(
//     40px 0,
//     100% 0,
//     100% calc(100% - 20px),
//     calc(100% - 40px) 100%,
//     0 100%,
//     0 20px
//   );
//   z-index: 0;
//   border-radius: 5px;
// }

.btn-explore {
  position: relative;
  width: 255px;
  height: 69px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.btn-explore__icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 255px;
  height: 69px;
}
.btn-create {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.btn-explore-link {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 19px;
  background: linear-gradient(86deg, #42a6e3 0%, #ff56f6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__benefits {
  display: flex;
  gap: 61px;
}
.hero__benefits__numbers {
  font-family: var(--font5);
  font-weight: 400;
  font-size: 39px;
  line-height: 53px;
  letter-spacing: 0.01em;
  color: #fff;
}
.hero__benefits__text {
  font-family: var(--font7);
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #fff;
}
.hero__benefits__item__center {
  position: relative;
}
.hero__benefits__item__center::after {
  position: absolute;
  content: "";
  display: block;
  width: 1.11px;
  right: -15px;
  top: 7px;
  height: 63px;
  background: rgba(255, 255, 255, 0.26);
}
.hero__benefits__item__center::before {
  position: absolute;
  content: "";
  display: block;
  width: 1.11px;
  left: -15px;
  top: 7px;
  height: 63px;
  background: rgba(255, 255, 255, 0.26);
}
.auction-box {
  // position: relative;
  width: 401px;
  height: 477px;
  display: flex;
}
.auction-box__img {
  position: relative;
  // top: 0;
  // left: 0;
  width: 401px;
  height: 477px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

// .glass-box {
//   bottom: -64px;
//   right: -91px;
//   width: 336px;
//   height: 181px;
//   backdrop-filter: blur(30px);
//   background: linear-gradient(
//     90deg,
//     rgba(255, 255, 255, 0.1) 0%,
//     rgba(255, 255, 255, 0.05) 100%
//   );
//   border: 2px solid rgba(255, 255, 255, 0.28);
//   border-image: linear-gradient(
//       145deg,
//       rgba(255, 255, 255, 0.28),
//       rgba(255, 255, 255, 0)
//     )
//     1;
//   clip-path: path(
//     "M49.5244 1.10547H327.216C331.49 1.10547 334.954 4.57005 334.954 8.84375V172.451C334.954 176.725 331.49 180.189 327.216 180.189H8.84375C4.57021 180.189 1.10573 176.726 1.10547 172.452V49.2773C1.1055 47.2169 1.92731 45.2416 3.38867 43.7891L44.0693 3.35547C45.5191 1.91452 47.4803 1.10547 49.5244 1.10547Z"
//   );
//   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
// }

.auction-box__wrapper {
  position: absolute;
  bottom: -50px;
  right: -100px;
  display: flex;
}
// .auction-box__bloc {
//   position: relative;
//   bottom: -50px;
//   right: -100px;
// }
// .auction-box__text-wrapper {
//   position: absolute;
// }
.auction-box__user-bloc {
  display: flex;
}
.auction-box__user-img {
  width: 29px;
  height: 29px;
}
.check {
  width: 12px;
  height: 13px;
}

.auction-box__btn {
  position: relative;
  border-radius: 5px;
  width: 119px;
  height: 37px;
  // backdrop-filter: blur(212.2481689453125px);
  // box-shadow: 0 4px 107px 0 rgba(255, 86, 246, 0.51);
  background: linear-gradient(
    130deg,
    #ff56f6 18.31%,
    #b936ee 43.26%,
    #3bace2 85.44%,
    #406aff 100%
  );
  z-index: 1;
}
.auction-box__btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2px;
  padding: 2px;
  background: linear-gradient(280deg, #ffa6fa 47%, #3c79d4 97%);
  // -webkit-mask:
  // linear-gradient(#fff 0 0) content-box,
  // linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
