.btn {
  //   width: 155px;
  //   height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  //   gap: 15px;
  //   font-family: var(--font-family);
  font-weight: 600;
  //   font-size: 23px;
  color: #fff;
  background: linear-gradient(
    130deg,
    #ff56f6 18.31%,
    #b936ee 43.26%,
    #3bace2 85.44%,
    #406aff 100%
  );
  border: 3px solid;
  border-image-source: linear-gradient(
    90deg,
    rgb(60, 121, 212) 0%,
    rgb(255, 166, 250) 50%
  );
  border-image-slice: 3;
}

// .top-now__slide__btn__icon {
//   width: 31px;
//   height: 12px;
//   fill: #fff;
//   stroke: #fff;
// }
.swiper-button-next.slider-btn-next {
  display: flex;
  gap: 25px;
  align-items: center;
  font-family: var(--font4);
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  margin-top: 0;
  position: static;
  width: auto;
  height: auto;
  padding-right: 10px;
}

.slider-btn-text {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 26px;
  color: #fff;
}

.swiper-button-next.slider-btn-next svg {
  width: 43px;
  height: 27px;
  fill: #fff;
  stroke: #fff;
}

.swiper-button-next.slider-btn-next__mob,
.btn-explore__mob {
  display: none;
}

@media screen and (max-width: 767px) {
  .swiper-button-next.slider-btn-next {
    display: none;
  }
  .swiper-button-next.btn-explore__mob,
  .btn-explore__mob {
    width: 130px;
    height: 35px;
    clip-path: polygon(
      17.634% 1.639%,
      17.634% 1.639%,
      17.576% 1.644%,
      17.518% 1.659%,
      17.46% 1.683%,
      17.403% 1.717%,
      17.346% 1.76%,
      17.29% 1.812%,
      17.235% 1.874%,
      17.18% 1.945%,
      17.126% 2.025%,
      17.073% 2.114%,
      1.186% 30.376%,
      1.186% 30.376%,
      1.054% 30.647%,
      0.932% 30.968%,
      0.822% 31.336%,
      0.725% 31.745%,
      0.64% 32.191%,
      0.569% 32.67%,
      0.512% 33.177%,
      0.471% 33.708%,
      0.445% 34.257%,
      0.437% 34.822%,
      0.437% 95.082%,
      0.437% 95.082%,
      0.454% 95.88%,
      0.504% 96.637%,
      0.583% 97.342%,
      0.69% 97.987%,
      0.821% 98.56%,
      0.973% 99.051%,
      1.145% 99.451%,
      1.333% 99.749%,
      1.534% 99.936%,
      1.747% 100%,
      85.752% 100%,
      85.752% 100%,
      85.812% 99.995%,
      85.871% 99.98%,
      85.93% 99.954%,
      85.989% 99.919%,
      86.047% 99.874%,
      86.105% 99.818%,
      86.162% 99.753%,
      86.218% 99.679%,
      86.274% 99.595%,
      86.328% 99.501%,
      99.265% 75.774%,
      99.265% 75.774%,
      99.395% 75.501%,
      99.514% 75.178%,
      99.622% 74.811%,
      99.718% 74.404%,
      99.801% 73.96%,
      99.871% 73.485%,
      99.926% 72.983%,
      99.967% 72.458%,
      99.992% 71.914%,
      100% 71.356%,
      100% 6.557%,
      100% 6.557%,
      99.983% 5.76%,
      99.933% 5.003%,
      99.854% 4.297%,
      99.747% 3.653%,
      99.616% 3.08%,
      99.464% 2.588%,
      99.292% 2.188%,
      99.104% 1.89%,
      98.903% 1.704%,
      98.69% 1.639%,
      17.634% 1.639%
    );
    padding: 2px;
    transform-box: fill-box;
    transform-origin: 0 0;
    background: linear-gradient(130deg, #ffa6fa 0%, #3c79d4 100%);
    border-radius: 4px;
    position: relative;
    margin-top: 37px;
    display: flex;
  }
  .btn-explore__mob-link {
    display: flex;
    align-items: center;
    font-family: var(--font4);
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    gap: 10px;
    background: rgb(32, 8, 59);
    clip-path: polygon(
      17.634% 1.639%,
      17.634% 1.639%,
      17.576% 1.644%,
      17.518% 1.659%,
      17.46% 1.683%,
      17.403% 1.717%,
      17.346% 1.76%,
      17.29% 1.812%,
      17.235% 1.874%,
      17.18% 1.945%,
      17.126% 2.025%,
      17.073% 2.114%,
      1.186% 30.376%,
      1.186% 30.376%,
      1.054% 30.647%,
      0.932% 30.968%,
      0.822% 31.336%,
      0.725% 31.745%,
      0.64% 32.191%,
      0.569% 32.67%,
      0.512% 33.177%,
      0.471% 33.708%,
      0.445% 34.257%,
      0.437% 34.822%,
      0.437% 95.082%,
      0.437% 95.082%,
      0.454% 95.88%,
      0.504% 96.637%,
      0.583% 97.342%,
      0.69% 97.987%,
      0.821% 98.56%,
      0.973% 99.051%,
      1.145% 99.451%,
      1.333% 99.749%,
      1.534% 99.936%,
      1.747% 100%,
      85.752% 100%,
      85.752% 100%,
      85.812% 99.995%,
      85.871% 99.98%,
      85.93% 99.954%,
      85.989% 99.919%,
      86.047% 99.874%,
      86.105% 99.818%,
      86.162% 99.753%,
      86.218% 99.679%,
      86.274% 99.595%,
      86.328% 99.501%,
      99.265% 75.774%,
      99.265% 75.774%,
      99.395% 75.501%,
      99.514% 75.178%,
      99.622% 74.811%,
      99.718% 74.404%,
      99.801% 73.96%,
      99.871% 73.485%,
      99.926% 72.983%,
      99.967% 72.458%,
      99.992% 71.914%,
      100% 71.356%,
      100% 6.557%,
      100% 6.557%,
      99.983% 5.76%,
      99.933% 5.003%,
      99.854% 4.297%,
      99.747% 3.653%,
      99.616% 3.08%,
      99.464% 2.588%,
      99.292% 2.188%,
      99.104% 1.89%,
      98.903% 1.704%,
      98.69% 1.639%,
      17.634% 1.639%
    );
    padding: 12px 12px 9px 25px;
  }

  .swiper-button-next.btn-explore__mob svg,
  .btn-explore__mob-icon {
    width: 27px;
    height: 8px;
    fill: #fff;
    stroke: #fff;
  }
}
