.title {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  margin-left: 5px;
}
@media screen and (max-width: 767px) {
  .title {
    // font-size: 16px;
    margin-left: 0;
  }
}
