.container {
  max-width: 1395px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1439px) {
  .container {
    width: calc(100% - 30px);
  }
}

// @media screen and (max-width: 1023px) {
//   .container {
//     width: 738px;
//   }
// }
// @media screen and (max-width: 767px) {
//   .container {
//     width: 545px;
//   }
// }
// @media screen and (max-width: 574px) {
//   .container {
//     width: 325px;
//   }
// }
// @media screen and (max-width: 374px) {
//   .container {
//     width: calc(100% - 30px);
//   }
// }
